.vs
LotusAdventureC
x64

ArtFiles/AirEnemies
ArtFiles/Collectibles/endOfLevelFire.bmp
ArtFiles/Collectibles/endOfLevelWater.bmp
ArtFiles/Collectibles/endOfLevelAir.bmp
ArtFiles/FireEnemies
ArtFiles/FireWorld
ArtFiles/gradient.bmp
ArtFiles/pink.bmp
ArtFiles/Platforms/platformArmoredCrate.bmp
ArtFiles/Platforms/platformCrumbling*
ArtFiles/Platforms/platformElectric*
ArtFiles/Platforms/platformGateFire.bmp
ArtFiles/Platforms/platformGateWater.bmp
ArtFiles/Platforms/platformIcy*
ArtFiles/Platforms/platformMetalCrate.bmp
ArtFiles/Platforms/platformMetallic.bmp
ArtFiles/Platforms/platformPressureOperatedGate.bmp
ArtFiles/Platforms/platformPressurePlate.bmp
ArtFiles/Platforms/platformSolidFire*
ArtFiles/Platforms/platformSolidWater*
ArtFiles/Platforms/platformStandardAir*
ArtFiles/Platforms/platformStandardFire*
ArtFiles/Platforms/platformStandardWater*
ArtFiles/Platforms/platformSticky.bmp
ArtFiles/Platforms/platformTargetAir.bmp
ArtFiles/Platforms/platformTargetFire.bmp
ArtFiles/Platforms/platformTargetGateFire.bmp
ArtFiles/Platforms/platformTargetGateWater.bmp
ArtFiles/Platforms/platformTargetWater.bmp
ArtFiles/Platforms/platformTargetAir.bmp
ArtFiles/Platforms/purple.bmp
ArtFiles/Projectiles/Arrow*
ArtFiles/Projectiles/Fireball.bmp
ArtFiles/Projectiles/Slimeball.bmp
ArtFiles/WaterEnemies
ArtFiles/WaterWorld

src/lotusAdventureLevels.cpp
src/lotusAdventureLevels.h
